@tailwind base;
@tailwind utilities;

html,
body {
  overflow: auto;
}

html {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-family: 'Comfortaa', 'Helvetica', 'Arial', sans-serif;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.avatar {
  width: 180px;
  height: 180px;
  background-clip: content-box;
  border-radius: 50%;
  background-color: rgba(243, 246, 248, 0.94);
  border: 4px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
    0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}
